<div class="k-block k-donate">

    <!--<h1>Donate</h1>-->

    <div class="k-random-donate" data-aos="fade-up">
        <label>I want to donate</label>
        <input type="text" placeholder="100">
        <div class="k-button">Make Donation</div>
    </div>

    <div class="k-fixed-donate">

        <div class="k-donate-amount">
            <div class="k-donate-dollar">
                $25
            </div>
            <div class="k-donate-prompt">make a dream come true</div>
            <div class="k-button">Donate</div>
        </div>

        <div class="k-donate-amount">
            <div class="k-donate-dollar">
                $50
            </div>
            <div class="k-donate-prompt">make a dream come true</div>
            <div class="k-button">Donate</div>
        </div>

        <div class="k-donate-amount">
            <div class="k-donate-dollar">
                $75
            </div>
            <div class="k-donate-prompt">make a dream come true</div>
            <div class="k-button">Donate</div>
        </div>

    </div>

    <!--<p>Koru Care NZ is an independent charity, and as such relies on the generosity and support of the community to make its trips possible. A donation to Koru Care helps to bring children together, children who all face some challenge in their lives, be it an ongoing medical condition, terminal illness or some other challenge in their life.-->
    <!--How To Donate</p>-->

    <!--<p>To start donating to help Koru Care you can select one of the options below:</p>-->

    <!--<ul>-->
    <!--<li style="text-align: left;">Online – Make a Personal Donation, or if you’re a company, click on one of the buttons above.</li>-->
    <!--<li style="text-align: left;">Givealittle – Click this Givealittle link to make a donation.</li>-->
    <!--<li style="text-align: left;">Call Koru Care NZ – 09 5232456</li>-->
    <!--</ul>-->
</div>