<div class="k-hero" name="hero-comp" id="hero-comp">
    <div class="k-banner-wapper k-bottom-right">
        <div class="k-banner  k-magenta" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            Making dreams come true
        </div>
        <div class="k-banner k-magenta" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            for over 30 years
        </div>
    </div>
    <div class="k-hero-caption">
        <small>{{heroObj.caption}}</small>
        <h4>{{heroObj.region}}</h4>
    </div>
</div>