<div class="k-tiles k-block clearfix">
    <h1>Our News</h1>
    <div class="k-tile">
        <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
        <div class="k-tile-desc">
            <h1>Lorem Ipsum</h1>
            simply dummy text of the printing and typesetting industry.
        </div>
        <div class="k-tile-button">Read More</div>

    </div>
    <div class="k-tile">
        <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
        <div class="k-tile-desc">
            <h1>Lorem Ipsum</h1>
            simply dummy text of the printing and typesetting industry.
        </div>
        <div class="k-tile-button">Read More</div>
    </div>
    <div class="k-tile">
        <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
        <div class="k-tile-desc">
            <h1>Lorem Ipsum</h1>
            simply dummy text of the printing and typesetting industry.
        </div>
        <div class="k-tile-button">Read More</div>
    </div>
    <div class="k-tile">
        <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
        <div class="k-tile-desc">
            <h1>Lorem Ipsum</h1>
            simply dummy text of the printing and typesetting industry.
        </div>
        <div class="k-tile-button">Read More</div>
    </div>
</div>