body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
header{
    font-family: 'Open Sans Condensed', sans-serif;
    background: #fff;
    padding: 10px 15px;
    min-height: 50px;
    width: 100%;
    margin:0 -15px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.k-button{
    background: orange;
    color: #fff;
    width: 300px;
    min-height: 30px;
    font-weight: bolder;
    padding: 10px 0px 0px 0px;
    margin: 5px 20px;
    cursor: pointer;
}

.k-logo{
    max-height: 50px;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 10px;
    left: 10px;
}
.k-logo img{
    height: 95px;
    width: auto;
    margin-left: -40px;
    margin-top: -15px;
}

.k-navs-middle{
    display: none;
    margin: 0 auto;
}

.k-navs-middle-nav{
    position: relative;
    display: inline-block;
    color: #333;
    padding: 10px 23px;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.k-navs-middle-nav > h1 {
    margin:0;
}

.k-navs-right{
    margin: 0;
    position: absolute;
    padding: 0;
    top: 0;
    right: 10px;
}

.k-navs-right ul{
    list-style: none;
}

.k-main{
    /*padding: 15px;*/
    min-height: 600px;
}

.k-block {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
}

.k-block h1{
    font-size: 2.8em;
}

.k-hero{
    width: 100%;
    min-height: 800px;
    background: url(../img/Air-NZ-Koru-Care-Flight-Tyrese-Whittaker-Carterton.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    position: relative;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}

.k-banner{
    padding: 5px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin:5px;
    display: table;
}

.k-bottom-right{
    position: absolute;
    right: 40px;
    bottom: 40%;
}

.k-magenta{
    background-color: orange;
}

.k-content{
    width: 100%;
    min-height: 600px;
    background: #eee;
    position: relative;
    margin-top: -20px;
    padding-top: 30px;
}

.k-content-wrapper{
    max-width:1250px;
    margin:0 auto;
}

.k-tiles {
    margin: 0 auto 20px;
    padding: 20px;
    background:#fff;
}

.k-tile{
    width: 270px;
    min-height: 250px;
    float: left;
    margin: 20px;
    position: relative;
}

.k-tile-button{
    background: orange;
    color: #fff;
    width: 100%;
    min-height: 30px;
    font-weight: bolder;
    padding: 10px 0px 0px 0px;
    margin-top: 15px;
}

.k-tile > img{
    width: 100%;
    height: auto;
}

.k-tile-desc{
    background: #fff;
    padding: 5px;
}

.k-tile-desc h1{
    margin:0;
}
.k-tile-a{
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 15px;
    bottom: 18px;
    z-index: 1;
    text-decoration: none;
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
}

.k-tile-a:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


footer{
    width:100%;
    min-height: 300px;
    padding:0;
    background: #eee;
}

.k-footer-top{
    background: #232323;
    width:100%;
    height:33%;
    padding: 0 10%;
}

.k-footer-top-airnz{
    padding: 5px 20px;
    position:relative;
}

.k-footer-top-airnz img{
    height: 100px;
    width:auto;
}

.k-footer-top-airnz p{
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 0;
    line-height: 1.0;
    position: absolute;
    left: 35px;
    top: 15px;
    font-size: 12px;
}

.k-footer-bottom{
    width:100%;
    padding: 0 10%;
}

.k-footer-bottom ul{
    list-style: none;
    padding: 10px 20px;
    display: inline-flex;
}

.k-footer-bottom ul li:first-child{
    margin-left:0;

}

.k-footer-bottom ul li{
    margin-left: 50px;
    margin-right: 50px;
}

.k-map{
    width: 100%;
    height:450px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.k-image-zoom{
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@keyframes animatedBackground {
    from { background-position: 0 50%; }
    to { background-position: 100% 50%;}
}

@keyframes zoomBackground {
    from { background-size: 200% !important; }
    to {  background-size: 400% !important; }
}


.k-location-tiles{
    width: 100%;
    height: 612px;
    display: inline-flex;
    margin: 0;
}

.k-location-ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.k-location-ul li{
    overflow: hidden;
    float: left;
    margin: 2px;
    position: relative;
    width: 49%;
    height:49%;
}

.k-location-tile{
    width: 100%;
    height: 100%;
    padding: 10px;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

.k-location-tile:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.k-location-label{
    color: #fff;
    display: block;
    font-size: 26px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    text-shadow: 1px 1px #333;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    word-break: break-word;
    z-index: 1;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}

.k-otago{
    background: url("../img/southland/Universal group shot.jpg") no-repeat;
    background-size: cover !important;
}
.k-auckland{
    background: url("../img/auckland/Image2.jpg") no-repeat;
    background-size: cover !important;
}
.k-southland{
    background: url("../img/dunedin/otago_dw.jpg") no-repeat;
    background-size: cover !important;
}
.k-christhurch{
    background: url("../img/christchurch/IMG_5073.png") no-repeat;
    background-size: cover !important;
}

.k-donate{
    position: relative;
    text-align: center;
    cursor: pointer;
}


.k-donate-wrapper{
    background: url("../img/kc-02.jpg") no-repeat center center;
    min-height: 300px;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    margin-left: -15px;
    margin-right: 15px;
}

.k-donate-amount{
    padding: 15px;
    width: 25%;
    border: solid 1px orange;
    border-radius: 4px;
    margin: 5px;
}

.k-donate-dollar{
    font-size: 32px;
    font-weight: bold;
}

.k-fixed-donate{
    display: inline-flex;
    width: 75%;
}

.k-blackout{
    background: #212121;
    padding-bottom: 50px;
}

.k-video {
    padding: 0 !important;
    margin: 0;
}

.k-random-donate{
    background: #eee;
    padding: 20px 15px;
    display: inline-flex;
    width: 75%;
    margin: 15px 5px;
}

.k-random-donate label{
    padding: 12px 20px;
    font-size: 20px;
    font-weight: bold;
}

.k-random-donate input{
    padding: 5px 10px;
    border-radius: 2px;
    border-style: none;
    border: solid 1px #ccc;
    height: 30px;
    margin-top: 4px;
    font-size: 25px;
    width: 150px;
    color: orangered;
}

.k-donate-amount .k-button{
    width: 85%;
}

.k-hero-caption{
    color: #fff;
    position: absolute;
    z-index: 5000;
    text-shadow: 1px 1px #333;
    bottom:15px;
    left:15px;
}

.k-hero-caption small{
    margin:0;
    padding:0;
}

.k-hero-caption h4{
    padding:0;
    margin:0;
}

.k-navs-right-search{
    display: none;
}

.k-navs-right-menu{
    display: block;
}

.k-title{
    margin: 0;
    padding: 0;
}

.k-sub-title{
    font-size: 24px;text-align: center;padding: 0 20%;
}

@media (min-width: 991px) {
    .k-navs-middle{
        display:table;
    }
    .k-navs-right-search{
        display: block;
    }

    .k-navs-right-menu{
        display: none;
    }
}

@media (max-width: 990px) {
    .k-bottom-right {
        position: absolute;
        right: 5px;
        bottom: 10%;
        left: 15px;
    }
    .k-hero{
        min-height:600px;
    }

    .k-banner{
        font-size:32px;
    }
    .k-block{
        padding: 15px 5px 15px 0;
    }
    .k-location-ul{
        width:100%;
    }
    .k-location-label{
        bottom:110px;
    }

    .k-location-ul li {
        overflow: hidden;
        float: left;
        margin: 2px;
        width: 48%;
        height: 40%;
    }

    .k-random-donate {
        padding: 20px 5px;
        width: 95%;
        margin: 15px 0px;
    }

    .k-button {
        padding: 15px 0px 0px 0px;
    }

    .k-random-donate label {
        font-size: 16px;
    }

    .k-sub-title {
        padding: 0 5%;
    }

    .k-fixed-donate {
        display: block;
        width: 95%;
    }

    .k-donate-amount {
        padding: 10px;
        width: 38%;
        float: left;
    }

    .k-fixed-donate {
        display: block;
        width: 100%;
        padding: 0px 5px 0 8px;
    }

    .k-footer-bottom {
        width: 100%;
        padding: 0;
    }

    .k-address {
        min-width: 100%;
    }

    .k-footer-bottom ul {
         display: block;
    }

    .k-site-link {
        padding: 5px;
    }

    .k-site-link a {
        font-size: 24px;
    }

    .k-address p {
        font-size: 20px;
    }

    .k-contact-link a {
        font-size: 20px;
    }

    .k-contact-link {
        font-size: 20px;
    }

    .k-select select {
        font-size: 20px;
    }

    .stelish-mark{
        font-size:20px;
    }

    .stelish-mark a{
        font-size: 40px;
    }

    .k-footer-bottom ul li {
        margin-left: 0;
        margin-right: 0;
    }

    .k-social {
        width: 100%;
    }
}

.k-contact-locations{
    border-right: solid 1px #000;
    margin-right: 15px;
    padding-right: 15px;
    height: 100px;
}

.k-select{
    background: -webkit-linear-gradient(top, #fff 50%, #f5f5f5 52%);
    background: linear-gradient(to bottom, #fff 50%, #f5f5f5 52%);
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    width:160px;
    height: 40px;
}

.k-select select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid transparent;
    line-height: normal;
    padding-right: 2.35em;
    margin: 0;
    padding: .6em .8em .5em;
    width: 100%;
    font-size:16px;
}

.k-address{
    padding-left: 10px;
}

.k-address p{
    padding:0;
    margin:0;
    font-size: 14px;
}

.k-site-link{
    padding:3px;
}

.k-site-link a{
    text-decoration: none;
    color: #111111;
}

.k-site-link a:hover {
    /*color: #206cf3;*/
    text-decoration: underline;
}

.k-social{
    padding:5px;
    display: inline-flex;
    cursor: pointer;
}

.k-social-label{
    padding-top:15px;
    padding-left:10px;
}

.k-contact-link{
    padding-top: 5px;text-align: right;font-size: 14px;
}

.k-contact-link a{
    color: #111;
}

@font-face {
    font-family: BeautifulMess;
    src: url(Beautiful%20Mess.ttf);
    font-weight: bold;
}

.stelish-mark{
    display:block;
}

.stelish-mark a{
    font-family: BeautifulMess;
    font-size:28px;
}