<!DOCTYPE html>
<html>
<head lang="en">
    <!-- styling from http://www.beoplay.com/ -->
    <meta charset="UTF-8">
    <title>Charity For Children | Kids Charity | Childrens Charity | Child Charities</title>
    <meta name="description" content="Koru Care NZ is a charity for children who have disabilities or a terminal illness. Koru Care are the only kids charity that do thr Trip of a Lifetime for these children, destinations include Disneyland and Goldcoast. Please show your support and donate to this worthy childrens charity."/>
    <meta name="robots" content="noodp"/>
    <meta name="keywords" content="Charity For Children, Kids Charity, Childrens Charity, Child Charities, Childrens Charities, Donate To Children, Raise Money For Kids, Koru Care NZ"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Charity For Children | Kids Charity | Childrens Charity | Child Charities" />
    <meta property="og:description" content="Koru Care NZ is a charity for children who have disabilities or a terminal illness. Koru Care are the only kids charity that do thr Trip of a Lifetime for these children, destinations include Disneyland and Goldcoast. Please show your support and donate to this worthy childrens charity." />
    <meta property="og:url" content="http://www.korucare.co.nz/" />
    <meta property="og:site_name" content="Koru Care NZ" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">

</head>
<body>
    <header>
        <div class="k-logo">
            <img src="img/logos/KoruCare%20New%20FinalArt_Koru%20Care%20Colour.png">
        </div>
        <div class="k-navs-middle">
            <div class="k-middle-wrapper">
                <div class="k-navs-middle-nav">
                    <h1>Locations</h1>
                </div>
                <div class="k-navs-middle-nav">
                    <h1>News</h1>
                </div>
                <div class="k-navs-middle-nav">
                    <h1>Partners</h1>
                </div>
                <div class="k-navs-middle-nav">
                    <h1>Donate</h1>
                </div>
            </div>
        </div>
        <div class="k-navs-right">
            <ul>
                <li style="margin-right: 15px;">
                    <svg fill="#323232" height="42" viewBox="0 0 24 24" width="42" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </li>
            </ul>
        </div>

    </header>

    <div class="k-main">
        <div class="k-hero">
            <div class="k-banner-wapper k-bottom-right">
                <div class="k-banner  k-magenta">
                    Making dreams come true
                </div>
                <div class="k-banner k-magenta">
                    for over 30 years
                </div>
            </div>

        </div>
        <div class="k-content">
            <!--<div class="k-content-wrapper">-->



            <!--</div>-->

            <div class="k-block">

                <!--<div id="map" class="k-map">-->
                <!--<script>-->
                <!--var map;-->
                <!--function initMap() {-->
                <!--map = new google.maps.Map(document.getElementById('map'), {-->
                <!--center: {lat: -34.397, lng: 150.644},-->
                <!--zoom: 8-->
                <!--});-->
                <!--}-->
                <!--</script>-->
                <!--</div>-->

                <!--<h1>Our Locations</h1>-->
                <!--simply dummy text of the printing and typesetting industry.-->


                <div class="k-location-tiles">
                    <ul class="k-location-ul clearfix">
                        <li>
                            <div class="k-location-tile k-auckland"></div>
                            <span class="k-location-label">Auckland Region</span>
                        </li>
                        <li>
                            <div class="k-location-tile k-christhurch"></div>
                            <span class="k-location-label">Christchurch Region</span>
                        </li>
                        <li>
                            <div class="k-location-tile k-southland"></div>
                            <span class="k-location-label">Otago Region</span>
                        </li>
                        <li>
                            <div class="k-location-tile k-otago"></div>
                            <span class="k-location-label">Southland Region</span>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="k-block k-donate">

                <!--<h1>Donate</h1>-->

                <div class="k-random-donate">
                    <label>I want to donate</label>
                    <input type="text" placeholder="100">
                    <div class="k-button">Make Donation</div>
                </div>

                <div class="k-fixed-donate">

                    <div class="k-donate-amount">
                        <div class="k-donate-dollar">
                            $25
                        </div>
                        <div class="k-donate-prompt">make a dream come true</div>
                        <div class="k-button">Donate</div>
                    </div>

                    <div class="k-donate-amount">
                        <div class="k-donate-dollar">
                            $50
                        </div>
                        <div class="k-donate-prompt">make a dream come true</div>
                        <div class="k-button">Donate</div>
                    </div>

                    <div class="k-donate-amount">
                        <div class="k-donate-dollar">
                            $75
                        </div>
                        <div class="k-donate-prompt">make a dream come true</div>
                        <div class="k-button">Donate</div>
                    </div>

                </div>

                <!--<p>Koru Care NZ is an independent charity, and as such relies on the generosity and support of the community to make its trips possible. A donation to Koru Care helps to bring children together, children who all face some challenge in their lives, be it an ongoing medical condition, terminal illness or some other challenge in their life.-->
                    <!--How To Donate</p>-->

                <!--<p>To start donating to help Koru Care you can select one of the options below:</p>-->

                <!--<ul>-->
                    <!--<li style="text-align: left;">Online – Make a Personal Donation, or if you’re a company, click on one of the buttons above.</li>-->
                    <!--<li style="text-align: left;">Givealittle – Click this Givealittle link to make a donation.</li>-->
                    <!--<li style="text-align: left;">Call Koru Care NZ – 09 5232456</li>-->
                <!--</ul>-->
            </div>

            <div class="k-block k-video">
                <script src="vendor/mediaelement/build/jquery.js"></script>
                <script src="vendor/mediaelement//build/mediaelement-and-player.min.js"></script>
                <link rel="stylesheet" href="vendor/mediaelement/build/mediaelementplayer.min.css" />

                <h1>Partners</h1>
                <video width="100%" height="600" id="player1" preload="none">
                    <source type="video/youtube" src="https://youtu.be/lhjEDQT4c5Y" />
                </video>
                <script>
                    jQuery(document).ready(function($) {
                        $('#player1').mediaelementplayer();
                    });
                </script>

                <style>
                    .mejs-container {
                        margin: 0 auto !important;
                    }
                    video{
                        width: 100% !important;
                        height: auto;
                    }
                </style>
            </div>

            <div class="k-tiles k-block clearfix">
                <h1>Our News</h1>
                <div class="k-tile">
                    <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
                    <div class="k-tile-desc">
                        <h1>Lorem Ipsum</h1>
                        simply dummy text of the printing and typesetting industry.
                    </div>
                    <div class="k-tile-button">Read More</div>

                </div>
                <div class="k-tile">
                    <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
                    <div class="k-tile-desc">
                        <h1>Lorem Ipsum</h1>
                        simply dummy text of the printing and typesetting industry.
                    </div>
                    <div class="k-tile-button">Read More</div>
                </div>
                <div class="k-tile">
                    <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
                    <div class="k-tile-desc">
                        <h1>Lorem Ipsum</h1>
                        simply dummy text of the printing and typesetting industry.
                    </div>
                    <div class="k-tile-button">Read More</div>
                </div>
                <div class="k-tile">
                    <image src="img/12195124_10203617835205587_6323645368294507667_o.jpg" class="k-image-zoom"></image>
                    <div class="k-tile-desc">
                        <h1>Lorem Ipsum</h1>
                        simply dummy text of the printing and typesetting industry.
                    </div>
                    <div class="k-tile-button">Read More</div>
                </div>
            </div>


        </div>
    </div>

    <footer>

    </footer>

    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC71b81QhdAeR7OwVHPi77EC2Y3Ugrp2qs&callback=initMap"></script>-->

</body>
</html>